#inputbox1{
    border:none;
    width: 100%;
    border-bottom: 2px solid #000;
    opacity: 0.6;
    min-height: 50px;
    padding: 10px;
    font-size:18px;
}

.container{
    max-width: 800px;
}

.btn{
    max-height: 50px !important;
}
#inputbox1:focus{
    opacity: 1;
}
body{
    background-image: linear-gradient(to bottom right, rgb(37, 139, 139), rgb(198, 226, 40));
}

h3{
    margin: 10px 0;
}

.task1{
    width: 100%;
    background: rgba(255,255,255,0.5);
    padding: 18px;
    margin: 6px 0;
    overflow: hidden;
}

.task1 i{
    float:right;
    margin-left: 20px;
    cursor: pointer;
}

.listgrp2 .task1{
    background: rgba(255,255,255,-5);
    color:#fff;
}